In [139]:
import pandas as pd
from datetime import timedelta

In [405]:
# setear parametros/variables
p_mes = "octubre"
input_file = "202010"

In [406]:
csv_columns = ['PRIMARIO', 'FUERA DE SERVICIO', 'REPOSICION', 'TIPO DE EVENTO', 'ESTADO DEL CLIMA', 'OBSERVACION']

In [407]:
# leer archivos
df1 = pd.read_csv(fr"../data/{input_file}.csv", encoding="ISO-8859-1")

In [408]:
# Transformar datasets
df1n = df1.BARRIOS.str.rstrip(',').str.rstrip(',.').str.split(',').apply(pd.Series)    # break df.BARRIOS into columns
df1n.index = df1.set_index(csv_columns).index
df1 = df1n.stack().reset_index(csv_columns)    # stack and reset_index
df1.columns = csv_columns  + ['BARRIO']

In [409]:
# Considerar Recierre como 2 horas
def transform_recierre(fuera_servicio, reposicion):
#     print("fuera servicio:", fuera_servicio)
#     print("reposicion:", reposicion)
    if reposicion.lower().strip() != "recierre":
        return reposicion
    
    reposicion = pd.to_datetime(fuera_servicio, format="%d/%m/%Y %H:%M", errors='coerce') + timedelta(hours=2)
    # print(reposicion.strftime("%d/%m/%Y %H:%M"))
    return reposicion.strftime("%d/%m/%Y %H:%M")



df1['REPOSICION'] = df1.apply(lambda row: transform_recierre(row['FUERA DE SERVICIO'], row['REPOSICION']), axis=1)

In [410]:
df1['DURACION'] = df1[["FUERA DE SERVICIO", "REPOSICION"]].apply(lambda x: (pd.to_datetime(x[1], format="%d/%m/%Y %H:%M", errors='coerce') - pd.to_datetime(x[0], format="%d/%m/%Y %H:%M", errors='coerce')), axis=1)

In [411]:
# Normalizar BARRIO
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("\r", " "))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("\n", " "))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("  ", " "))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.strip())
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Hiódromo", "Hipódromo"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Madame Lych", "Madame Lynch"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Dr. Gaspar R. de Francia", "Dr. Gaspar Rodríguez de Francia"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Rodriguez", "Rodríguez"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Mcal. Francisco.S. López", "Mcal. Francisco S. López"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace('Mcal F. S. López', "Mcal. Francisco S. López"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace('Francisco.', 'Francisco'))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Mbocayty", "Mbocayaty"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Mobocayaty", "Mbocayaty"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Cañada de Ybyray", "Cañada Ybyray"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Nazaret", "Nazareth"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Nazarethh", "Nazareth"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Carlos. A. López", "Carlos A. López"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Petirosi", "Pettirossi"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Cristobal", "Cristóbal"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Santisima", "Santísima"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Mocayaty", "Mbocayaty"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("Mcal. José F. Estigarribia","Mcal. Estigarribia"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.replace("ybyray", "Ybyray"))
df1['BARRIO'] = df1['BARRIO'].apply(lambda x: x.rstrip("."))

In [412]:
# Agregar Duración en Segundos
df1['DURACION SEGS'] = df1['DURACION'].apply(lambda x: x.seconds)

In [ ]:
# verificar datos

In [413]:
# no deben repetirse barrios
aux = sorted(list(df1["BARRIO"].unique()))
aux

['Banco San Miguel',
 'Bañado Cará Cará',
 'Bañado Tacumbu',
 'Bella Vista',
 'Botánico',
 'Carlos A. López',
 'Cañada Ybyray',
 'Ciudad Nueva',
 'Dr. Gaspar Rodríguez de Francia',
 'Dr. Roberto L. Petit',
 'Gral. Bernardino Caballero',
 'Gral. J. E Diaz',
 'Hipódromo',
 'Ita Pyta Punta',
 'Itay',
 'Itá Enramada',
 'Jara',
 'Jukyty',
 'La Catedral',
 'La Encarnación',
 'Las Carmelitas',
 'Las Mercedes',
 'Loma Pyta',
 'Los Laureles',
 'Luis Alberto de Herrera',
 'Madame Lynch',
 'Manorá',
 'Mbocayaty',
 'Mburicao',
 'Mburucuyá',
 'Mcal. Estigarribia',
 'Mcal. Francisco S. López',
 'Nazareth',
 'Obrero',
 'Pinoza',
 'Pirizal',
 'Recoleta',
 'Republicano',
 'Ricardo Brugada',
 'Sajonia',
 'Salvador del Mundo',
 'San Antonio',
 'San Blas',
 'San Cayetano',
 'San Cristóbal',
 'San Felipe',
 'San Jorge',
 'San Pablo',
 'San Roque',
 'San Vicente',
 'Santa Ana',
 'Santa Librada',
 'Santa María',
 'Santa Rosa',
 'Santo Domingo',
 'Santísima Trinidad',
 'Tablada Nueva',
 'Tembetary',
 'Terminal',
 'Tte. Silvio Pettirossi',
 'Villa Aurelia',
 'Villa Morra',
 'Virgen de la Asunción',
 'Virgen del Huerto',
 'Vista Alegre',
 'Ykua Sati',
 'Zeballos Cué']

In [414]:
# debe haber 69 o 68 barrios como max
len(aux)

67

In [415]:
# Revisar que no queden recierres
df1.loc[(df1["REPOSICION"]=="Recierre")]

Empty DataFrame
Columns: [PRIMARIO, FUERA DE SERVICIO, REPOSICION, TIPO DE EVENTO, ESTADO DEL CLIMA, OBSERVACION, BARRIO, DURACION, DURACION SEGS]
Index: []

In [416]:
# Exportar dataframe transformado
df1.to_csv(f"../transformed/t_{p_mes}.csv", encoding="ISO-8859-1")

In [418]:
df1

,PRIMARIO,FUERA DE SERVICIO,REPOSICION,TIPO DE EVENTO,ESTADO DEL CLIMA,OBSERVACION,BARRIO,DURACION,DURACION SEGS
0,BCP2,14/10/2020 13:46,14/10/2020 15:03,Accidental,Adverso,Transformador averiado. Aguirre y Peña.,Bella Vista,0 days 01:17:00,4620
1,BCP2,14/10/2020 13:46,14/10/2020 15:03,Accidental,Adverso,Transformador averiado. Aguirre y Peña.,Santo Domingo,0 days 01:17:00,4620
2,BCP2,14/10/2020 13:46,14/10/2020 15:03,Accidental,Adverso,Transformador averiado. Aguirre y Peña.,Manorá,0 days 01:17:00,4620
0,BCP2,26/10/2020 02:27,26/10/2020 03:23,Accidental,Adverso,Condiciones Climáticas Adversas.,Bella Vista,0 days 00:56:00,3360
1,BCP2,26/10/2020 02:27,26/10/2020 03:23,Accidental,Adverso,Condiciones Climáticas Adversas.,Santo Domingo,0 days 00:56:00,3360
...,...,...,...,...,...,...,...,...,...
1,VAU3,29/10/2020 15:07,29/10/2020 17:07,Accidental,Normal,No establecido.,San Pablo,0 days 02:00:00,7200
0,VAU4,24/10/2020 00:03,24/10/2020 00:59,Accidental,Normal,Cruceta MT rota. Médicos del Chaco y Carios.,Los Laureles,0 days 00:56:00,3360
1,VAU4,24/10/2020 00:03,24/10/2020 00:59,Accidental,Normal,Cruceta MT rota. Médicos del Chaco y Carios.,Nazareth,0 days 00:56:00,3360
2,VAU4,24/10/2020 00:03,24/10/2020 00:59,Accidental,Normal,Cruceta MT rota. Médicos del Chaco y Carios.,Recoleta,0 days 00:56:00,3360
3,VAU4,24/10/2020 00:03,24/10/2020 00:59,Accidental,Normal,Cruceta MT rota. Médicos del Chaco y Carios.,Tembetary,0 days 00:56:00,3360

In [103]:
aux4 = df1.sort_values(by=['BARRIO'], ascending=False)
aux4.loc[aux4.BARRIO == ""]

Empty DataFrame
Columns: [PRIMARIO, FUERA DE SERVICIO, REPOSICION, TIPO DE EVENTO, ESTADO DEL CLIMA, OBSERVACION, BARRIO, DURACION, DURACION SEGS]
Index: []

In [ ]:
AUX = df1.groupby(['TIPO DE EVENTO', 'BARRIO'])['BARRIO'].count()

In [ ]:
AUX[["Accidental"]].sort_values(ascending=False)

In [ ]:
AUX[["Programado"]].sort_values(ascending=False)

In [ ]:
aux3 = df1[['BARRIO', 'DURACION']]

In [ ]:
aux4 = df1.sort_values(by=['DURACION'], ascending=False)

In [ ]:
aux4.sort_values(by=["DURACION"], ascending=False)

In [ ]:
aux4.loc[(aux4["REPOSICIONN"]=="Recierre") & (aux4["FUERA DE SERVICIO"].str.contains("10/01/2020"))]

In [ ]:
aux4.loc[(aux4["FUERA DE SERVICIO"].str.contains("31/01/2020"))]

In [ ]:
tdelta2 = pd.to_datetime("7/01/2020 01:12", format="%d/%m/%Y %H:%M") - pd.to_datetime("6/01/2020 23:54", format="%d/%m/%Y %H:%M")
tdelta2

In [ ]:
pd.to_datetime("7/01/2020 01:12", format="%d/%m/%Y %H:%M")